aws_region                 = "us-east-1"
secondary_region           = "us-west-2"
scheduler_target_arn       = "arn:aws:lambda:us-east-1:123456789012:function:krishimitra-prod-scheduler"
scheduler_target_role_arn  = "arn:aws:iam::123456789012:role/krishimitra-prod-eventbridge"
postgres_master_password   = "replace-me"
enable_network             = true
enable_nat_gateway         = true
enable_alb                 = true
enable_ecs_service         = true
enable_monitoring          = true
enable_postgres            = true
enable_redis               = true
enable_cloudfront          = true
enable_route53             = true
enable_cicd                = true
enable_models_bucket       = true
enable_apigw_integration   = true
enable_waf                 = true
enable_multi_region        = false
