aws_region                 = "us-east-1"
scheduler_target_arn       = "arn:aws:lambda:us-east-1:123456789012:function:krishimitra-dev-scheduler"
scheduler_target_role_arn  = "arn:aws:iam::123456789012:role/krishimitra-dev-eventbridge"
postgres_master_password   = "replace-me"
enable_network             = true
enable_nat_gateway         = false
enable_alb                 = true
enable_ecs_service         = true
enable_monitoring          = true
enable_postgres            = true
enable_redis               = false
enable_cloudfront          = false
enable_route53             = false
enable_cicd                = false
enable_models_bucket       = true
enable_apigw_integration   = true
enable_waf                 = false
enable_multi_region        = false
